/*
Theme Name: 1,000,000
Theme URI: http://blog.matthew.org.pl/
Author: Mateusz "Matthew" Marek
Author URI: http://blog.matthew.org.pl/
Description: My second theme
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: orange
Text Domain: 1000000
*/

html {
	font-size: 62.5%;
}

body {
	background: #DDD;
	/*background-image:url('images/keyboard.png');*/
	background-repeat:no-repeat;
	background-attachment:scroll;
	background-position:left top;
	font-family: Verdana;
	font-size: 1.2rem;
}

a:hover, a:active {
	color: #AA0000;
	text-decoration: underline;
}

a {
	text-decoration: none;
	color: #D70807;
}

.center {
	width: 124rem;
	margin-bottom: 1rem;
	margin-left: auto;
	margin-right: auto;
	
	/*background: #fff;*/
	
	/*box-shadow: 0 0 0.1rem 0.1rem rgba(0, 0, 0, 0.5);*/
		/*border-style: solid;
	border-width: 0.1rem;*/
	border-radius: 0.7rem;
}

header {
	height: auto;
	overflow: hidden;
	position: relative;
	
	background: #000;
}

section.logo {
	float: none;
	width: auto;
	overflow: hidden;
	
	border-left: 1rem solid #D70807;
}

#title {
	margin: 0rem;
	font-family: "Trebuchet MS", Verdana;
}

#title a {
	font-size: 6rem;
	color: #fff;
	text-decoration: none;
}

#title a:hover {
	color: #AA0000;
}

#description {
	color: #ff0000;
	text-decoration: none;
}

nav.menu {
	width: auto;
	float: right;

	position: absolute;
	bottom: 0.1rem;
	right: 1rem;
}

nav.menu ul {
	list-style: none outside none;
	margin: 0rem;
	padding: 0.9rem 0rem;
}

nav.menu ul li {
	display: inline;
	margin: 0rem;
	padding: 0rem;
}

nav.menu ul li a {
	text-decoration: none;
	margin: 0rem;
	padding: 0rem 1.5rem 0.9rem;
	color: #ffffff;
}

nav.menu ul li a:hover {
	color:#D70807;
	border-bottom: 0.1rem solid #D70807;
}

.main {
	height: auto;
	overflow: hidden;
	
	background: #fff;
}

.content {
	float: none;
	width: auto;
	overflow: hidden;
}

nav.sidebar {
	float: right;
	width: 21rem;
}

nav.sidebar ul {
	list-style-type: none;
	padding-left: 0rem;
	margin-left: 1rem;
}

.comment {
	overflow: hidden;
	background: #F5F5F5;
	margin-bottom: 1rem;
	border-radius: 0.3rem;
	padding: 1rem;
}


.comment-meta {
	margin-bottom: -1rem;
}

.avatar {
	float:left;
	padding-right: 0.5rem;
	padding-bottom: 0.5rem;
}

footer {
	text-align: center;
	padding-top: 0.2rem;
	padding-bottom: 0.2rem;
	
	background: #fff;
}

.debug {
/*	border-width:1px;
	border-style:solid;
	border-color:#ff6536;*/
}

.padding {
	margin: 0rem;
	padding: 1rem;
}

.post-title {
	margin: 0rem;
	font-size: 2rem;
	font-weight: 800;
	font-size: 3rem;
	font-family: "Trebuchet MS", Verdana;
}

.post-title a:hover {
	text-decoration: none;
}

.widget-title {
	background: #212121;
	border-left: 1rem solid #D70807;
	padding: 0.3rem;
	color: #fff;
	border-radius: 0.4rem;
	
	font-family: "Trebuchet MS", Verdana;
	font-weight: 600;
	font-size: 1.3rem;
	color: #fff;
	margin: 0rem;
}

hr {
/*	size: 0.1rem;*/
	color: #AAA;
	border-style: solid
}

.meta {
	color: #999999;
	font-size: 1rem;
	letter-spacing: 0px;
	margin: 0rem;
}

.aligncenter {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.alignleft {
        float: left;
}

img {
	padding: 0.5rem;
}

